Hello {{user.name}},

This is an automated notification that your booking in slot {{slot.area.name}} {{slot.name}} has now expired. If any items remain these must be removed, or another slot booked. This is to ensure fair use for all our members.

Many thanks,
Bristol Hackspace