Hello {{user.name}},

This is an automated reminder. Your booking in slot {{ booking.slot.name }} has expired. If you have anything stored here please remove it ASAP so another member can use the space.

Many thanks,
Bristol Hackspace