Hello {{user.name}},

This is an automated reminder. You have slot {{ booking.slot.name }} booked that is due to expire on {{ booking.expiry }}. You can extend this booking at the Hackspace.

Many thanks,
Bristol Hackspace