Hello {{user.name}},

This is an email to confirm you have booked slot {{slot.name}}. We will send an expiry reminder on {{reminder_date}}. You will be able to extend the booking in-person on this date.