<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <!-- set the encoding of your site -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{url_for('static',filename='images/logo.svg')}}" />

        <title>{% block title %}{% endblock %} - {{ config.SITE_NAME }}</title>
        {% block metatags %}
        {% endblock %}

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>
    <body>
        {% block header %}
        <header class="header">
            <nav class="container navbar">
                <a href="{{ url_for('main.index') }}" class="nav-title">
                    <img src="{{url_for('static', filename='images/logo.svg')}}" alt="" width="40" height="40">
                    <span>Hackspace Storage</span>
                </a>
                <ul class="nav-menu">
                    <li><a href="{{ config.PORTAL_URL }}" class="nav-link">Back to Portal</a></li>
                </ul>
            </nav>
        </header>
        {% endblock %}

        {% block main %}
        <main class="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container">
                    <ul class="flashes">
                        {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        {% block contents %}
        {% endblock %}
        </main>
        {% endblock %}

        {% block footer %}
        <footer class="footer">
            <div class="container">
                <p>© Copyright 2025 {{ config.SITE_NAME }}.</p>
            </div>
        </footer>
        {% endblock %}

        {% block script %}
        {% endblock %}
    </body>
</html>