{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block contents %}
<div class="container">

    {% if g.user %}
    <h1>Hi, {{ g.user.name }}.</h1>
    {% endif %}

    <h2>Your bookings</h2>

    {% if g.user and g.user.bookings %}
    <div class="grid-container">
        {% with user_bookings = g.user.bookings %}
            {% for booking in user_bookings %}
                <div class="grid-card user">
                    <div class="card-header">
                        <h3>{{ booking.slot.area.name }}</h3>
                        <h3 class="float-right">{{ booking.slot.name }}</h3>
                    </div>
                    <div class="card-body">
                            <p>{{ booking.description }}</p>
                            <p> Expires: {{ booking.expiry.strftime("%d-%b-%Y") }}</p>
                    </div>
                    <div class="card-footer-user">
                        <a class="cancel-button" href="{{ url_for('main.free_booking', booking_id=booking.id) }}">Cancel</a>
                        
                        <a class="extend-button {{ 'invisible' if not can_extend_booking(booking)[0] else '' }}" href="{{ url_for('main.extend', booking_id=booking.id) }}">Extend</a>
                        
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
    </div>
    {% else %}
        <p>
            You have no Bookings yet
        </p>
    {% endif %}

    <h2>Storage Slots</h2>

    {% for area in areas %}
    <button class="accordion">{{ area.name }}</button>
    <div class="panel">
        {# <h3>{{ area.name }}</h3> #}
        <div class="grid-container" style="grid-template-columns: repeat({{area.column_count}}, 1fr)">
            {% for slot in area.slots %}
                {% with this_booking = slot.bookings[0]%}

                <div class="grid-card">
                    <div class="card-header {{ 'booked' if slot.bookings else 'free' }}">
                        <h3>{{ slot.name }}</h3>
                        {% if slot.bookings %}
                        <h3 class="float-right">{{ this_booking.user.name }}</h3>
                        {% endif %}
                    </div>
                    {% if slot.bookings %}
                    <div class="card-body">
                            <p>{{ this_booking.description }}</p>
                    </div>
                    <div class="card-footer">
                            {% if g.user.id %}
                            <div class="like-button {{ 'liked' if this_booking.do_i_like(g.user.id) else '' }}" id="like-button-{{ this_booking.id }}">{{ this_booking.get_likes() }}</div>
                            {% else %}
                            <div class="like-button" id="like-button-{{ this_booking.id }}">{{ this_booking.get_likes() }}</div>
                            {% endif %}
                            <p> Expires: {{ this_booking.expiry.strftime("%d-%b-%Y") }}</p>
                    </div>
                    {% else %}
                    <div class="card-body">
                        <p><a class="booking-button" href="{{ url_for('main.book_slot', slot_id=slot.id) }}">Book slot</a></p>
                    </div>
                    {% endif %}
                    
                    
                </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</div>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;

            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } 
            else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }

    var likeButtons = document.getElementsByClassName("like-button")
    var lb;

    for (lb = 0; lb < likeButtons.length; lb++) {
        likeButtons[lb].addEventListener("click", function() {
            const thisID = this.id.split("-")[2]
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                if (xhttp.status == 200) {
                    const response = xhttp.responseText
                    var arrResponse = response.split("|")
                    if (arrResponse[0] = "Success") {
                        var thisID = "like-button-" + arrResponse[1]
                        document.getElementById(thisID).classList.toggle("liked");
                        document.getElementById(thisID).innerHTML = arrResponse[2]
                    }
                }
                else {
                    console.log (xhttp.status, xhttp.statusText)
                }
            }
            {% if g.user %}
            xhttp.open("PUT", `/bookings/${thisID}/like/{{ g.user.id }}`, true);
            xhttp.send()
            {% endif %}
        });
    } 

</script>
{% endblock %}